
<h1>Link-List</h1>

<div id="posts">
</div>

<script type="text/json" id="bootstrap">
  {
    "posts": <%= @posts.to_json(include: 
                                { user: { only: [:id, :email] } , comments: { only: [:id, :comment] } }) %>,
    "users": <%= @users.to_json %>,
    
    "comments": <%= @comments.to_json %>,
    "current_user_id":<%= current_user.id %>
  }
</script>

<!-- TODO: I guess you picked this up from a tutorial -
anyway when writing apps like this we try to keep javascript out of
the html views. Especially important things like initializing the
App need to be kept somewhere where they are expected. -->
<%= content_for :javascript do -%>
  <script type="text/javascript">
    $(function () {
      var div = $('<div></div>');
      div.html($('#bootstrap').text());
      var data = JSON.parse(div.text());

      ExampleApp.initialize(data);
    // ExampleApp.update();
    });
  </script>
<% end %>
