<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
 
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/header' %>
  </head>
  <body>   
    <div class="container">
   
      <% flash.each do |key, value| %>

        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

      <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  </body>
</html>